<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Login</title>
</head>
<body>
    <div id="page-title" style="font-size: 4rem;">
        E.A.G.L.E
        <br>
            LOGIN
    </div>
    <div id="form-container">
        <form action="" style="display: flex; flex-direction: column; width: fit-content; gap: 5px;" method="post">
            <input class="login-form" type="text" placeholder="Username" name="Username" id="Username" autocomplete="off">
            <input class="login-form" type="password" placeholder="Password" name="Password" >
            <input class="login-form" type="submit" >
        </form>
    </div>
    <div id="logoBox">
        <img src="/static/img/blueLogo.png" alt="" id="back-image">
    </div>
</body>

<script src="/static/js/login.js"></script>
</html>