<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
        }
        .cadet-name-node{
            width: 100%;
            text-align: center;
            
        }
    </style>
</head>
<body>
    {% for cadet in roster %}
    <div class="cadet-name-node">
        <!--<div style="cursor: pointer; color: black; text-decoration: underline;" onclick="redirect(`{{cadet}}`)">{{cadet}}</div> -->
        <div style="cursor: pointer; color: black; text-decoration: underline;">{{cadet}}</div>
        <hr>
    </div>
    {% endfor %}
</body>
    <script>
        function redirect(cadetName){
            parent.window.location.href = '/cadet/' + cadetName
        }
    </script>
</html>